body{
  font-size: 32px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;

}

h1{
  text-align: center;
  font-size: 4em
}



p{
font-size: 0.5em;
font-style: normal;
font-weight: 100;
}
